.todo-control {
    padding: 2rem;
    
    &__form {
        &-input {
            border: 1px solid $gray-color-light;
            border-radius: 4px;
            padding: 1.2rem 1rem;
            width: 100%;
            font-size: 1.8rem;
        }
    }
}