.todo-control {
    padding: 2rem;
    
    &__form {
        &-input {
            border: 1px solid $gray-color-light;
            border-radius: 4px;
            padding: 1.2rem 1rem;
            width: 100%;
            font-size: 1.8rem;
        }
    }
    &__others {
        height: 100%;
        @include flex-center;
        .clock {
            font-size: 2.8rem;
            letter-spacing: .5rem;
        }
    }
}