.todo-list {
    padding: 0 .6rem;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    .todo-item {
        height: auto;
        min-height: 100px;
        min-width: 200px;
        padding: 1.4rem;
        margin: 1.4rem;
        align-self: flex-start;
        border-radius: 4px;
        position: relative;
        font-size: 1.8rem;

        border: 1px solid $warning-color-dark;
        background-color: $warning-color-light;
        box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: .2);
        &:hover {
            animation: smooth-move 800ms ease-in;
        }
        @keyframes smooth-move {
            0% {
                transform: translateY(-3px);
            }
            20% {
                transform: translateY(-2px);
            }
            40% {
                transform: translateY(0px);
            }
            60% {
                transform: translateY(-2px);
            }
            80% {
                transform: translateY(-0px);
            }
            90% {
                transform: translateY(-1px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        &__actions {
            position: absolute;
            bottom: .5rem;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .icon {
                margin-right: 8px;
                opacity: .4;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
            .i-done {
                opacity: 1;
            }
        }
    }
    .important {
        position: absolute;
        top: .5rem;
        right: .5rem;
        width: 2.4rem;
        height: 2.4rem;
    }
    .todo-item[data-level="2"] {
        background-color: $danger-color-light;
        border: 1px solid $danger-color-dark;
        color: $danger-color-dark;
    }
    .todo-item[data-completed="true"] {
        background-color: $gray-color-light;
        text-decoration: line-through;
        border: none;
        opacity: .7;
    } 
}