@mixin d-table {
    display: table;
}
@mixin d-table-child-center {
    display: table-cell;
    vertical-align: middle;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-row-center {
    display: flex;
    align-items: center;
}
@mixin flex-col-center {
    display: flex;
    justify-content: center;
}
@mixin background($image, $size, $repeat){
    background: $image;
    background-size: $size;
    background-repeat: $repeat;
}