// Colors:
$text-color: #333;
$primary-color-dark: #115293;
$primary-color: #1976d2;
$primary-color-light: #4791db;
$gray-color-dark: #ccc;
$gray-color-light: #efefef;

// Rules:
$header-height: 56px;

