// Colors:
$text-color: #333;
$white-color: #fff;
$primary-color-dark: #115293;
$primary-color: #1976d2;
$primary-color-light: #4791db;
$gray-color-dark: #ccc;
$gray-color-light: #efefef;
$warning-color-light: #ffff9f;
// Rules:
$header-height: 56px;

//Breakpoints:

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;