// Colors:
$text-color: #333;
$white-color: #fff;
$primary-color-dark: #115293;
$primary-color: #1976d2;
$primary-color-light: #4791db;
$gray-color-dark: #ccc;
$gray-color-light: #efefef;
$warning-color-light: #f7f7d0;
$warning-color: #cabe9b;
$warning-color-dark: #856404;
$danger-color-light: #f8d7da;
$danger-color-dark: #721c24;
// Rules:
$header-height: 56px;

//Breakpoints:

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;