* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
  background: #4568DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.icon {
  width: 18px;
  height: 18px;
}

.i-delete {
  background: url("../images/i-delete.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.i-check {
  background: url("../images/i-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.i-done {
  background: url("../images/i-done.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.grid {
  display: block;
}

.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-none {
  display: none;
}

.col-1 {
  display: block;
  flex: 0 0 calc(100%/12 * 1);
  max-width: calc(100%/12 * 1);
}

.col-2 {
  display: block;
  flex: 0 0 calc(100%/12 * 2);
  max-width: calc(100%/12 * 2);
}

.col-3 {
  display: block;
  flex: 0 0 calc(100%/12 * 3);
  max-width: calc(100%/12 * 3);
}

.col-4 {
  display: block;
  flex: 0 0 calc(100%/12 * 4);
  max-width: calc(100%/12 * 4);
}

.col-5 {
  display: block;
  flex: 0 0 calc(100%/12 * 5);
  max-width: calc(100%/12 * 5);
}

.col-6 {
  display: block;
  flex: 0 0 calc(100%/12 * 6);
  max-width: calc(100%/12 * 6);
}

.col-7 {
  display: block;
  flex: 0 0 calc(100%/12 * 7);
  max-width: calc(100%/12 * 7);
}

.col-8 {
  display: block;
  flex: 0 0 calc(100%/12 * 8);
  max-width: calc(100%/12 * 8);
}

.col-9 {
  display: block;
  flex: 0 0 calc(100%/12 * 9);
  max-width: calc(100%/12 * 9);
}

.col-10 {
  display: block;
  flex: 0 0 calc(100%/12 * 10);
  max-width: calc(100%/12 * 10);
}

.col-11 {
  display: block;
  flex: 0 0 calc(100%/12 * 11);
  max-width: calc(100%/12 * 11);
}

.col-12 {
  display: block;
  flex: 0 0 calc(100%/12 * 12);
  max-width: calc(100%/12 * 12);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }

  .col-md-1 {
    display: block;
    flex: 0 0 calc(100%/12 * 1);
    max-width: calc(100%/12 * 1);
  }

  .col-md-2 {
    display: block;
    flex: 0 0 calc(100%/12 * 2);
    max-width: calc(100%/12 * 2);
  }

  .col-md-3 {
    display: block;
    flex: 0 0 calc(100%/12 * 3);
    max-width: calc(100%/12 * 3);
  }

  .col-md-4 {
    display: block;
    flex: 0 0 calc(100%/12 * 4);
    max-width: calc(100%/12 * 4);
  }

  .col-md-5 {
    display: block;
    flex: 0 0 calc(100%/12 * 5);
    max-width: calc(100%/12 * 5);
  }

  .col-md-6 {
    display: block;
    flex: 0 0 calc(100%/12 * 6);
    max-width: calc(100%/12 * 6);
  }

  .col-md-7 {
    display: block;
    flex: 0 0 calc(100%/12 * 7);
    max-width: calc(100%/12 * 7);
  }

  .col-md-8 {
    display: block;
    flex: 0 0 calc(100%/12 * 8);
    max-width: calc(100%/12 * 8);
  }

  .col-md-9 {
    display: block;
    flex: 0 0 calc(100%/12 * 9);
    max-width: calc(100%/12 * 9);
  }

  .col-md-10 {
    display: block;
    flex: 0 0 calc(100%/12 * 10);
    max-width: calc(100%/12 * 10);
  }

  .col-md-11 {
    display: block;
    flex: 0 0 calc(100%/12 * 11);
    max-width: calc(100%/12 * 11);
  }

  .col-md-12 {
    display: block;
    flex: 0 0 calc(100%/12 * 12);
    max-width: calc(100%/12 * 12);
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .d-lg-block {
    display: block;
  }

  .d-lg-none {
    display: none;
  }

  .col-lg-1 {
    display: block;
    flex: 0 0 calc(100%/12 * 1);
    max-width: calc(100%/12 * 1);
  }

  .col-lg-2 {
    display: block;
    flex: 0 0 calc(100%/12 * 2);
    max-width: calc(100%/12 * 2);
  }

  .col-lg-3 {
    display: block;
    flex: 0 0 calc(100%/12 * 3);
    max-width: calc(100%/12 * 3);
  }

  .col-lg-4 {
    display: block;
    flex: 0 0 calc(100%/12 * 4);
    max-width: calc(100%/12 * 4);
  }

  .col-lg-5 {
    display: block;
    flex: 0 0 calc(100%/12 * 5);
    max-width: calc(100%/12 * 5);
  }

  .col-lg-6 {
    display: block;
    flex: 0 0 calc(100%/12 * 6);
    max-width: calc(100%/12 * 6);
  }

  .col-lg-7 {
    display: block;
    flex: 0 0 calc(100%/12 * 7);
    max-width: calc(100%/12 * 7);
  }

  .col-lg-8 {
    display: block;
    flex: 0 0 calc(100%/12 * 8);
    max-width: calc(100%/12 * 8);
  }

  .col-lg-9 {
    display: block;
    flex: 0 0 calc(100%/12 * 9);
    max-width: calc(100%/12 * 9);
  }

  .col-lg-10 {
    display: block;
    flex: 0 0 calc(100%/12 * 10);
    max-width: calc(100%/12 * 10);
  }

  .col-lg-11 {
    display: block;
    flex: 0 0 calc(100%/12 * 11);
    max-width: calc(100%/12 * 11);
  }

  .col-lg-12 {
    display: block;
    flex: 0 0 calc(100%/12 * 12);
    max-width: calc(100%/12 * 12);
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-block {
    display: block;
  }

  .d-xl-none {
    display: none;
  }

  .col-md-1 {
    display: block;
    flex: 0 0 calc(100%/12 * 1);
    max-width: calc(100%/12 * 1);
  }

  .col-md-2 {
    display: block;
    flex: 0 0 calc(100%/12 * 2);
    max-width: calc(100%/12 * 2);
  }

  .col-md-3 {
    display: block;
    flex: 0 0 calc(100%/12 * 3);
    max-width: calc(100%/12 * 3);
  }

  .col-md-4 {
    display: block;
    flex: 0 0 calc(100%/12 * 4);
    max-width: calc(100%/12 * 4);
  }

  .col-md-5 {
    display: block;
    flex: 0 0 calc(100%/12 * 5);
    max-width: calc(100%/12 * 5);
  }

  .col-md-6 {
    display: block;
    flex: 0 0 calc(100%/12 * 6);
    max-width: calc(100%/12 * 6);
  }

  .col-md-7 {
    display: block;
    flex: 0 0 calc(100%/12 * 7);
    max-width: calc(100%/12 * 7);
  }

  .col-md-8 {
    display: block;
    flex: 0 0 calc(100%/12 * 8);
    max-width: calc(100%/12 * 8);
  }

  .col-md-9 {
    display: block;
    flex: 0 0 calc(100%/12 * 9);
    max-width: calc(100%/12 * 9);
  }

  .col-md-10 {
    display: block;
    flex: 0 0 calc(100%/12 * 10);
    max-width: calc(100%/12 * 10);
  }

  .col-md-11 {
    display: block;
    flex: 0 0 calc(100%/12 * 11);
    max-width: calc(100%/12 * 11);
  }

  .col-md-12 {
    display: block;
    flex: 0 0 calc(100%/12 * 12);
    max-width: calc(100%/12 * 12);
  }
}
.header {
  background-color: #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.header-content {
  height: 56px;
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo__img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  object-position: center;
}
.header-logo__text {
  margin-left: 20px;
  font-size: 2.8rem;
  font-weight: bold;
}

.content {
  margin-top: 2rem;
  border: 1px solid #efefef;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.todo-control {
  padding: 2rem;
}
.todo-control__form-input {
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 1.2rem 1rem;
  width: 100%;
  font-size: 1.8rem;
}

.todo-list {
  padding: 0 0.6rem;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.todo-list .todo-item {
  height: auto;
  min-height: 100px;
  min-width: 200px;
  padding: 1.4rem;
  margin: 1.4rem;
  align-self: flex-start;
  border-radius: 4px;
  position: relative;
  font-size: 1.8rem;
  border: 1px solid #856404;
  background-color: #f7f7d0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.todo-list .todo-item:hover {
  animation: smooth-move 800ms ease-in;
}
@keyframes smooth-move {
  0% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
.todo-list .todo-item__actions {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.todo-list .todo-item__actions .icon {
  margin-right: 8px;
  opacity: 0.6;
  cursor: pointer;
}
.todo-list .todo-item__actions .icon:hover {
  opacity: 1;
}
.todo-list .todo-item__actions .i-done {
  opacity: 1;
}
.todo-list .todo-item[data-level="2"] {
  background-color: #f8d7da;
  border: 1px solid #721c24;
  color: #721c24;
}
.todo-list .todo-item[data-completed=true] {
  background-color: #efefef;
  text-decoration: line-through;
  border: none;
}

/*# sourceMappingURL=style.css.map */
